body {
	background-color: rgb(255, 253, 253);
	margin: 0;
	padding: 0;
}

#principal {
	width: 100%;
	margin: auto auto;
	overflow: hidden;
}

.header-top {
	width: 100%;
	height: 100px;
	border: 1px solid red;
	position: relative;
}

.header-cnn {
	/* width: 80px; */
	height: 80px;
	position: absolute;
	top: 10px;
	left: 150px;

}

#btn-menu {
	background-color: transparent;
	border: none;
	width: 25px;
	height: 25px;
	overflow: auto;
	margin: 30px 0 0 37.4px;
}

.menu {
	width: 20px;
	position: absolute;
	top: 30px;
	left: 40px;
	cursor: pointer;
}

.lupa {
	position: absolute;
	width: 35px;
	right: 50px;
	top: 30px;
	cursor: pointer;
}

.ao-vivo {
	position: absolute;
	width: 130px;
	height: 90px;
	left: 48%;
	top: 4px;
}

.header-nav {
	width: 1000px;
	position: relative;
	margin: auto;
}

#anuncio-central {
	margin: 0 25% 10px;
	border-radius: 10px;
}

.row {
	width: 100%;
}

.col-1-3 {
	width: 27%;
	float: left;
	margin-left: 16%;
}

.col-2-3 {
	width: 27%;
	float: left;
}

.col-3-3 {
	width: 27%;
	float: left;
}

.cards-anuncio {
	width: 300px;
	border-radius: 5px;
}

.cards {
	margin-top: 10px;
	overflow: auto;
	width: 100%;
}


.news {
	width: 100%;
}

.card-title {
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	color: #555;
	font-weight: bold;
	font-size: 20px;
	margin: 2px 0 -5px;
}

.card-subtitle {
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	color: #555;
	font-size: 14px;
	width: 350px;
	margin-bottom: 30px;
	height: 20px;
}

a {
	text-decoration: none;
}

.noticias {
	width: 100%;
	margin: auto;
	padding: 0 100px;
	box-sizing: border-box;
}

.noticias a {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
}

.noticias h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin: 10px;
	font-size: 20px;
	text-align: center;
	color: #555;
}

.noticias p {
	width: 100%;
	font-weight: bold;
	margin: 0 10px;
	margin-top: 15px;
	text-align: center;
	color: #555;
}