@charset "UTF-8";

		
body {

	background-color: #ccc;
	margin: 0;
	padding: 0;

}

#principal {

	width: 1024px;
	margin: 20px auto;

}

.header-top {

    height: 100px;
    /* background: #162028; */
	border: 1px solid red;
	position: relative;

}

.header-cnn { /** Logo da CNN**/

	/* background-color: white; */
	width: 80px;
	height: 80px;
	position: absolute;
	top: 10px;
	left: 150px;

}

#btn-menu {

	background-color: transparent;
	border: none;
	width: 25px;
	height: 25px;
	overflow: auto;
	margin: 30px 0 0 37.4px;


}

.menu {

	width: 20px;
	position: absolute;
	top: 30px;
	left: 40px;

}

.ao-vivo {

	position: absolute;
	width: 130px;
	height: 90px;
	left: 44%;
	top: 4px;

}

.lupa {

	position: absolute;
	width: 35px;
	right: 50px;
	top: 30px;
}

.cards {

	margin-top: 30px;
	overflow: auto;
	
}

.news {
	
	float: left;
	text-align: center;
	padding-left: 100px;
	width: 20%;

}

.card-title {

	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	color: #555;
	font-weight: bold;
	margin: 0 0 5px 0;
	
}

.card-subtitle {
	
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	color: #555;
	font-size: 15px;
	margin: 0 0 20px 0;
	
}

.cards-anuncio {

	width: 200px;
	border-radius: 5px;

}

.noticias {

	width: 100%;
	padding: 0 100px 0 100px;
	margin: auto;

}

.noticias a {

	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	
}

.noticias h1 {

	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin: 10px;
	font-size: 20px;
	text-align: left;

}

.noticias p {
	
	width: 870px;
	font-weight: bold;
	margin: 0 10px;
	margin-top: 15px;
	text-align: center;


}